<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark" style="background-color: #1e90ff">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/urls"><h4>Home</h4></a>
        </ul>
        </div>  
      <a class="navbar-brand" style="display:flex; justify-content:flex-end; " href="http://chenliang.ca" onMouseOver="this.style.color='black'"
      onMouseOut="this.style.color='white'">Created By: Chen Liang</a></a>
    </div>
  </nav>